
#about, #reason {
font-family: "Lobster", sans-serif;
background-color: cyan;
color: blue;
}
#des {
font-family: "Lobster", sans-serif;
background-color: cyan;
color: blue;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
#icon, .menu {
    color: blue;
}
#fgf {
    background-color: !important teal;
}
/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: teal;
  color: #FF007Fk;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: black;}