
#about, #reason {
font-family: "Lobster", sans-serif;
background-color: cyan;
color: blue;
}
#des {
font-family: "Lobster", sans-serif;
background-color: cyan;
color: blue;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
#icon, .menu {
    color: blue;
}
#fgf {
    background-color: !important teal;
}