
#about, #reason {
font-family: "Lobster", sans-serif;
background-color: cyan;
color: blue;
}
#des {
font-family: "Lobster", sans-serif;
background-color: cyan;
color: blue;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
#icon, .menu {
    color: blue;
}
#fgf {
    background-color: !important teal;
}

.pagination {
   justify-content: center;
}
/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
   justify-content: center;
}

/* Style the active/current link */
.pagination a.active {
  background-color: teal;
  color: #FF007Fk;
}

/* Add a black background color on mouse-over */
.pagination a:hover:not(.active) {background-color: black;}


/* Change Card color */

.card-body {
     background: linear-gradient(
      53deg,
      #ccfffc,
      #ffcccf

}